<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core">


    <body>

        <ui:composition template="template.xhtml">

            <ui:define name="content"> 
                <!--               <h:outputStylesheet library="css" name="Event.css"/> -->

                <div>
                    <table width="50%">
                        <tr> <td>
                                <p>The idea to Tomaxus came in the year 2000. That was a special era in the Internet history. On the one hand a lot of people was excited about the Internet and what it could do ”in the future”. There were great potential in human interaction projects and it was all up for grabs. </p>

                                <p>Unfortunately, on the other hand, a lot of IT-entrepreneurs had promised gold and delivered poorly and the IT-bubble was a fact. This made investors pull pack and IT-talents rethink their careers. </p> 
                                <p>Therefore the project was put on hold for several years. When Facebook launched in 2004, it was thought to be the end of the Tomaxus idea. We followed Facebook with great interest for several years, but was disappointed that the focus we had never came. Over time it became evident that Facebook had a completely different approach than us. </p>
                                <p>While their focus is on already existing friends, self validation and – let's face it - gossip, our focus is to create real meetings and to help people fulfill their goals and dreams – big as well as small.</p>

                                <p>This is why we decided to give the project a go. To fully compete with Facebook would be madness, but to make a four week long commitment in a school project was an easy decision. The result is what you see here. </p>
                                    <p>Hope you enjoy it as much as we enjoyed working on it. </p>
                                <p>//The Tomaxus Crew </p>
                            </td>
                        </tr>
                    </table>

                </div>      


            </ui:define>

        </ui:composition>

    </body>
</html>
