<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
    </h:head>

    <body>
        <ui:composition template="./template.xhtml" >
            <ui:define name="content">
                <h:outputStylesheet library="css" name="BrowseCategories.css"  />
                <div class="header_section">
                    <h1>
                        Find Events
                    </h1>
                    <div class="create_event">
                        <a href="create_event.xhtml" class="create_links">Create new event</a>        
                        </div>
                    <div class ="shortinfo">
                        Or join an existing event, by selecting one Category.
                    </div>
                </div>
                <div class="categories_section">
                    <h2>
                        Categories
                    </h2>
                    <c:forEach items="#{Browse.allCategories}" var="category">
                        <h:form>
                            <h:commandLink action="findevent.xhtml?faces-redirect=true" actionListener="#{findEvents.setCategory(category)}">
                                <div class="category_item">
                                    <div class="category_header">
                                        #{category.name}
                                    </div>
                                    <div class="category_desc">
                                        #{category.description}
                                        <br/>
                                         #{category.numberOfEvents} events.
                                    </div>
                                </div>
                            </h:commandLink>
                        </h:form>
                    </c:forEach>
                </div>
                 <div>
                    <a href="create_category.xhtml" class="create_links">Create a new category</a>       
                </div>
            </ui:define>
        </ui:composition>

    </body>
</html>
