<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <body>

        <ui:composition template="template.xhtml">

            <ui:define name="top">
               
            </ui:define>

            <ui:define name="left">
                
            </ui:define>
            
            <ui:define name="content">
            <h:outputStylesheet library="css" name="Messaging.css"  />
                  <h1>
                        New message
                   </h1>
                <h:form >
                    <table>
                        <tr>
                            <td class="inputDeclarations"><h:outputLabel for="messageTo" value="Message To:" /></td>
                            <td><h:inputText id="messageTo" value="#{createmessage.messageTo}" class="inputText"  binding="#{createmessage.messageToTextField}"/> </td>
                            <td><h:message for="messageTo"></h:message> </td>
                        </tr>
                        <tr>
                            <td class="inputDeclarations"><h:outputLabel for="title" value="Title" /></td>
                            <td><h:inputText id="title" value="#{createmessage.title}" class="inputText"  > Message content. </h:inputText></td>
                        </tr>
                        <tr>
                            <td class="inputDeclarations"><h:outputLabel for="content" value="Content" /></td>
                             <td><h:inputTextarea id="content" value="#{createmessage.content}"  class="inputTextArea" /> </td>
                      
                        </tr>
                        <tr>
                            <td>
                                
                            </td>
                            <td>
                                  <h:commandButton id="btnOK" value="Send Message" action="#{createmessage.sendMessage()}" />
                            </td>
                        </tr>
                    </table>
                  
                </h:form>
            </ui:define>
            
            

            <ui:define name="bottom">
               
            </ui:define>

        </ui:composition>

    </body>
</html>
