<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <body>

        <ui:composition template="template.xhtml">

            <ui:define name="top">
               
            </ui:define>

            <ui:define name="left">
                Page one left                
            </ui:define>
            
            <ui:define name="content">
                  <h1>
                        Create Category
                   </h1>
                <h:form >
                    <table>
                        <tr>
                            <td><h:outputLabel for="title" value="Title" /></td>
                            <td><h:inputText id="title" value="#{newcategory.title}" /> </td>
                        </tr>
                        <tr>
                             <td><h:outputLabel for="description" value="Description" /></td>
                            <td><h:inputText id="description" value="#{newcategory.description}" /> </td>
                      
                        </tr>
                    </table>
 
                    <h:commandButton id="btnOK" value="Add" action="browsecategories.xhtml?faces-redirect=true" actionListener="#{newcategory.add}"/>
                </h:form>
            </ui:define>
            
            

            <ui:define name="bottom">
               
            </ui:define>

        </ui:composition>

    </body>
</html>
