<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
   
   
    
     
                <body>

                <ui:composition template="template.xhtml">

                <ui:define name="top">
               
                </ui:define>

                <ui:define name="left">
                Page one left                
                </ui:define>
            
                <ui:define name="content">
                    <h1>
                        Create Event
                    </h1>
                <!-- 
            private Location loc;
            @OneToOne
            private TUser owner;
            @OneToMany
            private List<TUser> participants;
            @OneToOne(cascade= CascadeType.ALL)
            private EventTimeRange timerange;
            @OneToOne(cascade=CascadeType.ALL)
            private List<Category> cat;
            @Temporal(TemporalType.DATE)
            private Date timeCreated;-->
                
                
                <h:form >
                <table>
                <tr>
                <td><h:outputLabel for="category" value="Category" /></td>
                <td><h:selectOneMenu value="#{newevent.category}" >
                <f:selectItems value="#{newevent.cat2Val}" />
                </h:selectOneMenu></td>
                </tr>
                <tr>
                <td><h:outputLabel for="title" value="Title" /></td>
                <td><h:inputText id="title" value="#{newevent.title}" /> </td>
                </tr>
                <tr>
                <td><h:outputLabel for="description" value="Description" /></td>
                <td><h:inputText id="description" value="#{newevent.description}" /> </td>
                </tr>
                <tr>
                <td><h:outputLabel for="country" value="Country" /></td>
                <td><h:inputText id="country" value="#{newevent.country}" /> </td>
                </tr>
                <tr>
                <td><h:outputLabel for="city" value="City" /></td>
                <td><h:inputText id="city" value="#{newevent.city}" /> </td>
                </tr>
                <tr>
                <td><h:outputLabel for="address" value="Address" /></td>
                <td><h:inputText id="address" value="#{newevent.address}" /> </td>
                </tr>
                 <tr>
                <td><h:outputLabel for="startDate" value="Start date" /></td>
                <td><h:inputText id="startDatedatepicker" value="#{newevent.startDate}" /> </td>
                </tr>
                
                <tr>
                <td><h:outputLabel for="endDate" value="End date" /></td>
                <td><h:inputText id="endDatedatepicker" value="#{newevent.endDate}" /> </td>
                </tr>
                
                <tr>
                <td><h:outputLabel for="isPrivate" value="Private event" /></td>
                <td><h:selectBooleanCheckbox value="#{newevent.isPrivate}" /> </td>
                </tr>
                </table>

                <h:commandButton id="btnOK" value="Add" actionListener="#{newevent.add}"
                                 action="findevent.xhtml?faces-redirect=true"/>
                </h:form>
                </ui:define>
            
            

                <ui:define name="bottom">
               
                </ui:define>

                </ui:composition>

                </body>
                </html>
