<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core">


    <body>

        <ui:composition template="template.xhtml">

            <ui:define name="content"> 
                <h:outputStylesheet library="css" name="Event.css"/>
                
                <div>
                    <div id ="eventTitle">
                        #{showEvent.eventTitle}
                        <c:if test="#{showEvent.eventAccomplished}">
                            <h:graphicImage url="../images/yellow_star.jpg" width="50px" height="50px"
                                            title="This event is accomplished!"/>
                        </c:if>
                    </div>
                    <div id ="eventImage">
                        <c:if test="${showEvent.eventImageId > 0}">
                        <h:graphicImage value="image?id=#{showEvent.eventImageId}" width="100%" height="225px"/>
                        </c:if>
                        <c:if test="${showEvent.eventImageId == 0}">
                            <h:graphicImage url="../images/sample_event_image.png" width="100%" height="225px"/>
                        </c:if>
                    </div>
                </div>
                
                <div id="eventdescript">
                    #{showEvent.eventDesc}
                </div>
                <br/>
                <div>
                    #{showEvent.isPrivate()} 
                    <c:if test="#{!showEvent.loggedInParticipant() and !showEvent.eventPrivate}">
                        <h:form>
                            <h:commandLink actionListener="#{showEvent.addParticipant()}"    
                                           action="event?faces-redirect=true" 
                                           >join</h:commandLink>
                        </h:form>
                    </c:if>
                </div>
                <br/>
                <div id="settingsButton">
                    <c:if test="#{showEvent.loggedInParticipant()}">
                    <h:link outcome="event_settings.xhtml">Settings</h:link>
                    <h:form>
                        <h:commandLink actionListener="#{showEvent.removeParticipant()}"    
                                       action="home?faces-redirect=true" 
                                       >Leave</h:commandLink>
                    </h:form>
                    </c:if>
                </div>
                <div>
                    Location: #{showEvent.eventLocation.city}, #{showEvent.eventLocation.country} <br/>
                    Time created: #{showEvent.eventCreated}<br/>
                    Date for event: #{showEvent.startDate} - #{showEvent.endDate}<br/>
                </div>

                <div>
                <h:dataTable id ="eventUserTable" class="userTable" value="#{showEvent.users}" 
                             var="eventuser">
                    <f:facet name="header">
                        <h:outputText value="Participants:" />
                    </f:facet>
                    <h:column>
                        
                        <h:form>
                            <h:graphicImage width="20" height="20"
                                            value="image?id=#{eventuser.profileImageId}"/>
                            <h:commandLink actionListener="#{profile.setUser(eventuser.id)}"    
                                           action="profile?faces-redirect=true" 
                                           >
                                #{eventuser.fname} #{eventuser.lname}</h:commandLink>
                        </h:form>
                    </h:column>
                </h:dataTable>


                <h:dataTable id="eventblogTable" class="blogTable" value="#{showEvent.blogEvent}" 
                             var="blog">
                    <f:facet name="header">
                        <h:outputText value="Blogentries: " />
                    </f:facet>
                    <h:column>
                        #{blog.title} <br/><br/>
                        #{blog.blogContent} <br/>
                        Created: #{blog.timeCreated} by #{blog.author.fname} #{blog.author.lname}
                    </h:column>
                </h:dataTable>
                </div>
                <br/>
                <c:if test="#{showEvent.loggedInParticipant()}">
                    <h:form>
                        <table>
                            <tr>
                                <td><h:outputLabel for="blogtitle" value="Title" /></td>
                                <td><h:inputText class="titleText" id="blogtitle" value="#{showEvent.blogTitle}" /> <br/></td>
                            </tr>
                            <tr>
                                <td><h:outputLabel for="blogdesc" value="Description" /></td>
                                <td><h:inputTextarea class="descArea" id="blogdesc" value="#{showEvent.blogContent}" /> <br/></td>
                            </tr>
                            <tr>
                                <td><h:outputLabel for="blogPrivate" value="Private" /></td>
                                <td><h:selectBooleanCheckbox id="blogPrivate" value="#{showEvent.blogIsPrivate}" /> <br/></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><h:commandButton id="btnOK" value="Add" actionListener="#{showEvent.addBlogEntry}"
                                         action="event?faces-redirect=true"/></td>
                            </tr>
                        </table>

                        
                    </h:form>
                </c:if>
            </ui:define>

        </ui:composition>

    </body>
</html>
