<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ace="http://www.icefaces.org/icefaces/components">

    <body>

        <ui:composition template="./template.xhtml">

            <ui:define name="contenthead">
                Settings
            </ui:define>

            <ui:define name="content">
                <h:outputStylesheet library="css" name="Event.css"/>
                <h:form >
                    <table>
                        <tr>
                            <td><h:outputLabel for="changeTitle" value="Title" /></td>
                            <td><h:inputText id="changeTitle" value="#{showEvent.eventTitle}"/> <br/></td>
                        </tr>
                        <tr>
                            <td><h:outputLabel for="changeDesc" value="Description" /></td>
                            <td><h:inputTextarea class="descArea" id="changeDesc" value="#{showEvent.eventDesc}" /> <br/></td>
                        </tr>
                        <tr>
                            <td><h:outputLabel for="changeAddress" value="Street Address" /></td>
                            <td><h:inputText id="changeAddress" value="#{showEvent.eventLocation.streetAddress}" /> <br/></td>
                        </tr>
                        <tr>
                            <td><h:outputLabel for="changeCity" value="City" /></td>
                            <td><h:inputText id="changeCity" value="#{showEvent.eventLocation.city}" /> <br/></td>
                        </tr>
                        <tr>
                            <td><h:outputLabel for="changeCountry" value="Country" /></td>
                            <td><h:inputText id="changeCountry" value="#{showEvent.eventLocation.country}" /> <br/></td>
                        </tr>
                        <tr>
                            <td><h:outputLabel for="startDate" value="Start date" /></td>
                            <td><h:inputText id="startDate" value="#{showEvent.startDateString}" /> </td>
                        </tr>

                        <tr>
                            <td><h:outputLabel for="endDate" value="End date" /></td>
                            <td><h:inputText id="endDate" value="#{showEvent.endDateString}" /> </td>
                        </tr>
                        <tr>
                            <td><h:outputLabel for="changePrivate" value="Private" /></td>
                            <td><h:selectBooleanCheckbox id="changePrivate" value="#{showEvent.eventPrivate}" /> <br/></td>
                        </tr>
                        <tr>
                            <td><h:outputLabel for="changeAccomplished" value="Accomplished" /></td>
                            <td><h:selectBooleanCheckbox id="changeAccomplished" value="#{showEvent.eventAccomplished}" /> <br/></td>
                        </tr>
                    </table>
                        <h:commandButton id="btnSave" value="Save changes" actionListener="#{showEvent.save}"
                                         action="event?faces-redirect=true"/>
                </h:form>
                
                <h:form>
                    <br/>
                    <h:outputLabel for="fileEntryComp" value="Upload an event picture:" />
                    <ace:fileEntry id="fileEntryComp"
                                   label="File Entry"
                                   relativePath="uploaded"
                                   fileEntryListener="#{showEvent.listener}"/>
                    <h:commandButton id="submit" type="submit" value="Upload File"/> <br/>
                </h:form>
                
            </ui:define>

        </ui:composition>

    </body>
</html>
