<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <body>

        <ui:composition template="template.xhtml">

            <ui:define name="top">
               
            </ui:define>

            <ui:define name="left">
                Page one left                
            </ui:define>
            
            <ui:define name="content">
                <h:outputStylesheet library="css" name="Profile.css"  />
                <h1>
                    #{findEvents.categoryTitle}
                </h1>
                <c:forEach items="#{findEvents.events}" var="profileEvent">      
                    <h:form>
                        <h:commandLink  actionListener="#{showEvent.setEvent(profileEvent.id)}"  action="event.xhtml?faces-redirect=true" >
                            <div class="userEvent">

                                <div class="eventDetails">
                                    <div class="eventHeader">
                                            #{profileEvent.title}
                                    </div>
                                    <div class="eventDesc" >
                                           #{profileEvent.description}
                                    </div>
                                    <div class="eventImage">
                                        <h:graphicImage url="../images/profile/sample_Event_image.png" class="friends_image" />
                                    </div>
                                    <div class="eventStatistics" >
                                        <br/>
                                            #{profileEvent.numberOfParticipants} people has joined this event. Created: #{profileEvent.timeCreated}
                                    </div>
                                </div>
                            </div>
                        </h:commandLink>
                    </h:form>
                </c:forEach>
                
            </ui:define>
            
            

            <ui:define name="bottom">
               
            </ui:define>

        </ui:composition>

    </body>
</html>
