<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
    </h:head>

    <body>
        <ui:composition template="./template.xhtml" >
            <ui:define name="content">
                <h:outputStylesheet library="css" name="Friends.css"  />
                <div>
                    <div class="topActionMenu">
                        <div class="topNameHeader">
                            Your friends
                        </div>
                    </div>

                    <div class="middleSection"> 
                        <div class="friendslist">

                            <c:forEach items="#{friends.list}" var="myFriend">
                                <h:form>
                                    <h:commandLink  actionListener="#{profile.setUser(myFriend.id)}"  action="profile.xhtml?faces-redirect=true" >
                                        <div class="friend_item">
                                            <c:if test="${myFriend.hasCustomImage}">
                                                <h:graphicImage value="image?id=#{myFriend.profileImageId}" class="friends_image" />
                                            </c:if>
                                            <c:if test="${!myFriend.hasCustomImage}">
                                                <c:if test="${myFriend.gender == 'Male'}">
                                                    <h:graphicImage url="../images/profile/abstract_boy.jpg" class="friends_image" />
                                                </c:if>
                                                <c:if test="${myFriend.gender == 'Female'}">
                                                    <h:graphicImage url="../images/profile/abstract_girl.jpg" class="friends_image" />
                                                </c:if>
                                            </c:if>
                                            <div class="friend_info">
                                                #{myFriend.fname} #{myFriend.lname}
                                            </div>
                                            <div class="friend_location">
                                                #{myFriend.loc}
                                            </div>
                                        </div>
                                    </h:commandLink>
                                </h:form>
                            </c:forEach>

                        </div>
                    </div>
                    <div class="bottomSection">


                        <h2>
                            <br />
                            Activity in your network
                        </h2>

                        <c:forEach items="#{friends.flow}" var="f">      
                            <h:form>
                                <h:commandLink  actionListener="#{showEvent.setEvent(f.eid)}"  action="event.xhtml?faces-redirect=true" >
                                    <div class="flowEvent">

                                        <div class="flowEventDetails">
                                            <div class="eventHeader">
                                                #{f.text}
                                            </div>
                                            <div class="flowEventDesc" >
                                                
                                            </div>
                                          
                                        </div>
                                    </div>
                                </h:commandLink>
                            </h:form>
                        </c:forEach>
                    </div>    
                </div>                    

            </ui:define>
        </ui:composition>

    </body>
</html>
