<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <body>

        <ui:composition template="./template.xhtml">


            <ui:define name="content">
                <h1>
                    Home
                </h1>
                <h:outputStylesheet library="css" name="Home.css"  />
                <div class="myevents">

                    <h:dataTable id="table">

                        <h:column>                        
                            <f:facet name="header">
                                <div class="header1nr1">My events</div>
                            </f:facet>
                        </h:column>

                    </h:dataTable>

                    <h:dataTable id="table2">
                        <h:column>   
                            <f:facet name="header">
                                <div class="myEvents">
                                    <h:dataTable id="table1" value="#{homeBackingBean.allEvents}" var="events">
                                        <h:column>
                                            <f:facet name="header">
                                                <div class="header2nr1">Event</div>
                                            </f:facet>
                                            <h:outputText value="#{events.title}" class="contents1" />
                                        </h:column>
                                    </h:dataTable>
                                </div>
                            </f:facet>
                        </h:column>   
                    </h:dataTable>

                    <h:dataTable id="table4">

                        <h:column>                        
                            <f:facet name="header">
                                <div class="header1nr2">Recent activities</div>
                            </f:facet>
                        </h:column>

                    </h:dataTable>

                    <h:dataTable id="table3">
                        <h:column>   
                            <f:facet name="header">
                                <div class="recent">
                                    <h:dataTable id="table3" value="#{homeBackingBean.blogsChanged}" var="events">
                                        <h:column>
                                            <f:facet name="header">
                                                <div class="header2nr2">Blog</div>
                                            </f:facet>
                                            <h:outputText value="#{events.title}" class="contents2" />
                                        </h:column>

                                        <h:column>   
                                            <f:facet name="header">
                                                <div class="header2nr3">Posts added by</div>
                                            </f:facet>
                                            <h:outputText value="#{homeBackingBean.blogs(events)}" class="contents3" />
                                        </h:column>

                                        <h:column>

                                            <h:form class="takeALook">
                                                <h:commandButton actionListener="#{showEvent.setEvent(events.id)}"    
                                                                 class="takeALook1" action="event?faces-redirect=true" value="Take a look" ></h:commandButton>
                                            </h:form>
                                        </h:column> 



                                    </h:dataTable>
                                </div>
                            </f:facet>
                        </h:column>  

                    </h:dataTable>

                </div>

            </ui:define>

        </ui:composition>

    </body>
</html>
