<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
    </h:head>

    <body>
        <ui:composition template="./template.xhtml" >
            <ui:define name="content">
                <h:outputStylesheet library="css" name="BrowseCategories.css"  />
                <div class="header_section">
                    <h1>
                        Inbox
                    </h1>
                    <div class="create_event">
                        <a href="create_message.xhtml" class="create_links">Write a new message</a>        
                        </div>
                </div>
                <div class="categories_section">
                    <h2>
                        Inbox
                    </h2>
                    
                    <c:if test="">
                        
                    </c:if>
                    
                    <c:forEach items="#{inboxbean.inboxMessages}" var="inboxmessage">
                        <h:form>
                            <h:commandLink action="view_message.xhtml?faces-redirect=true" actionListener="#{viewmessage.setMessage(inboxmessage.id)}">
                                <div class="category_item">
                                    <div class="category_header">
                                        #{inboxmessage.title}
                                    </div>
                                    <div class="category_desc">
                                        #{inboxmessage.messageFrom}
                                    </div>
                                </div>
                            </h:commandLink>
                        </h:form>
                    </c:forEach>
                </div>
                <div class="categories_section">
                    <h2>
                        Messages sent
                    </h2>
                        <c:forEach items="#{inboxbean.sentMessages}" var="sentmessage">
                        <h:form>
                            <h:commandLink action="view_message.xhtml?faces-redirect=true" actionListener="#{viewmessage.setMessage(sentmessage.id)}">
                                <div class="category_item">
                                    <div class="category_header">
                                        #{sentmessage.title}
                                    </div>
                                    <div class="category_desc">
                                        #{sentmessage.messageTo}
                                    </div>
                                </div>
                            </h:commandLink>
                        </h:form>
                    </c:forEach>
                </div>
            </ui:define>
        </ui:composition>

    </body>
</html>
