<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
    </h:head>

    <body>
        <ui:composition template="./template.xhtml" >
            <ui:define name="content">
                <h:outputStylesheet library="css" name="Profile.css"  />
                <div>
                    <div class="topActionMenu">
                        <div class="topNameHeader">
                            #{profile.fname} #{profile.lname}
                        </div>
                        <div class="actionlinks">                          

                            <c:choose>
                                <c:when test="${profile.isThisMe}">
                                    This is you.
                                </c:when>

                                <c:when test="${profile.isFriendsWith}">
                                    <h:form>
                                        <h:commandLink  actionListener="#{profile.removeAsFriend()}"  action="profile.xhtml?faces-redirect=true" > 
                                            Remove from friends
                                        </h:commandLink>
                                    </h:form>
                                    <h:form>
                                       <h:commandLink action="create_message.xhtml" actionListener="#{createmessage.setMessageTo(profile.getUsername())}" >
                                           Send Message
                                       </h:commandLink>
                                   </h:form>
                                </c:when>

                                <c:when test="${!profile.isFriendsWith}">
                                    <h:form>
                                        <h:commandLink  actionListener="#{profile.addAsFriend()}"  action="profile.xhtml?faces-redirect=true" > 
                                            Add as friend
                                        </h:commandLink>
                                    </h:form>
                                    <h:form>
                                       <h:commandLink action="create_message.xhtml" actionListener="#{createmessage.setMessageTo(profile.getUsername())}" >
                                           Send Message
                                       </h:commandLink>
                                   </h:form>
                                </c:when>
                            </c:choose>
                        </div>
                      </div>
                    <div class="middleSection"> 
                        <c:if test="${profile.hasCustomImage}">
                            <h:graphicImage value="image?id=#{profile.imageId}" class="profile_image" />
                        </c:if>
                        <c:if test="${!profile.hasCustomImage}">

                            <c:if test="${profile.gender == 'Male'}">
                                <h:graphicImage url="../images/profile/abstract_boy.jpg" class="profile_image" />
                            </c:if>
                            <c:if test="${profile.gender == 'Female'}">
                                <h:graphicImage url="../images/profile/abstract_girl.jpg" class="profile_image" />
                            </c:if>

                        </c:if>
                        <div  class="middle_desc">
                            <p> Username: </p>
                            <p> Full name </p>
                            <p> Age: </p>
                            <p> Gender: </p>
                            <p> Location: </p>
                        
                        </div>
                        <div class="middle_userdetail">
                            <p>
                                <h:outputLabel value="#{profile.username}" />
                            </p>
                            <p>
                                <h:outputLabel value="#{profile.fname} #{profile.lname}" />
                            </p>
                            <p>
                                <h:outputLabel value="#{profile.age}" />
                            </p>
                            <p>
                                <h:outputLabel value="#{profile.gender}" />
                            </p>
                            <p>
                                <h:outputLabel value="#{profile.location}" />
                            </p>
                           
                        </div>
                        <div class="friendslist">
                            <div class="friends_header">
                                Friends
                            </div>
                            <c:forEach items="#{profile.friends}" var="userFriend">
                                <h:form>
                                    <h:commandLink  actionListener="#{profile.setUser(userFriend.id)}"  action="profile.xhtml?faces-redirect=true" >
                                        <div class="friend_item">
                                            <c:if test="${userFriend.hasCustomImage}">
                                                <h:graphicImage value="image?id=#{userFriend.profileImageId}" class="friends_image" />
                                            </c:if>
                                            <c:if test="${!userFriend.hasCustomImage}">
                                                <c:if test="${userFriend.gender == 'Male'}">
                                                    <h:graphicImage url="../images/profile/abstract_boy.jpg" class="friends_image" />
                                                </c:if>
                                                <c:if test="${userFriend.gender == 'Female'}">
                                                    <h:graphicImage url="../images/profile/abstract_girl.jpg" class="friends_image" />
                                                </c:if>
                                            </c:if>
                                            <div class="friend_info">
                                                #{userFriend.fname} #{userFriend.lname}
                                            </div>
                                            <div class="friend_location">
                                                #{userFriend.loc}
                                            </div>
                                        </div>
                                    </h:commandLink>
                                </h:form>
                            </c:forEach>

                        </div>
                    </div>
                    
                    <div class="bottomSection">

                        
                        <h2>
                            <br />
                            #{profile.username}'s events
                        </h2>
                       
                        <c:forEach items="#{profile.events}" var="profileEvent">      
                            <h:form>
                                <h:commandLink  actionListener="#{showEvent.setEvent(profileEvent.id)}"  action="event.xhtml?faces-redirect=true" >
                                    <div class="userEvent">

                                        <div class="eventDetails">
                                            <div class="eventHeader">
                                                #{profileEvent.title}
                                            </div>
                                            <div class="eventDesc" >
                                                #{profileEvent.description}
                                            </div>
                                            <div class="eventImage">
                                                <h:graphicImage url="../images/profile/sample_Event_image.png" class="friends_image" />
                                            </div>
                                            <div class="eventStatistics" >
                                                <br/>
                                                #{profileEvent.numberOfParticipants} people has joined this event. Created: #{profileEvent.timeCreated}
                                            </div>
                                        </div>
                                    </div>
                                </h:commandLink>
                            </h:form>
                        </c:forEach>
                    </div>                    
                </div>                
            </ui:define>
        </ui:composition>

    </body>
</html>
