<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <body>

        <ui:composition template="./template.xhtml">


            <ui:define name="content">
                <h1>
                    Search
                </h1>
                <h:outputStylesheet library="css" name="Search.css"  />
                <div>

                    <table>
                        <td class="leftSearch" valign="top">
                            <div class="keyword">
                                <h:form>
                                    <table>
                                        <th><h:outputLabel value="Search for Category" /></th>
                                        <tr>
                                            <td><h:outputLabel for="category" value="Category title:" /></td>
                                            <td id="keyword"><h:inputText value="#{searchBackingBean.category}"/> <br/></td>
                                        </tr>


                                    </table>
                                    <h:commandButton id="btnOK" value="Go" action="#{searchBackingBean.searchForCategory()}"/>
                                </h:form>
                            </div>

                            <div class="user">
                                <h:form>
                                    <table>
                                        <th><h:outputLabel value="Search for User" /></th>
                                        <tr>
                                            <td><h:outputLabel for="username" value="Username:" /></td>
                                            <td id="username"><h:inputText value="#{searchBackingBean.user}"/> <br/></td>
                                        </tr>
                                        <tr>
                                            <td><h:outputLabel for="firstname" value="First name:" /></td>
                                            <td id="firstname"><h:inputText value="#{searchBackingBean.fname}"/> <br/></td>
                                        </tr>
                                        <tr>
                                            <td><h:outputLabel for="lastname" value="Last name:" /></td>
                                            <td id="lastname"><h:inputText value="#{searchBackingBean.lname}"/> <br/></td>
                                        </tr>


                                    </table>
                                    <h:commandButton id="btnOK" value="Go" action="#{searchBackingBean.searchForUser}"/>
                                </h:form>
                            </div>
                        </td>
                        <td class="rightSearch" valign="top">   
                            <div class="event">
                                <h:form>
                                    <table>
                                        <th><h:outputLabel value="Search for Event" /></th>
                                        <tr>
                                            <td><h:outputLabel for="eventtile" value="Event title:" /></td>
                                            <td id="eventtitle"><h:inputText value="#{searchBackingBean.event}"/> <br/></td>
                                        </tr>


                                    </table>
                                    <h:commandButton id="btnOK" value="Go" action="#{searchBackingBean.searchForEvent}"/>
                                </h:form>
                            </div>


                            <div class="blog">
                                <h:form>
                                    <table>
                                        <th><h:outputLabel value="Search for Blog" /></th>
                                        <tr>
                                            <td><h:outputLabel for="blogtitle" value="Blog title:" /></td>
                                            <td id="blogtitle"><h:inputText value="#{searchBackingBean.blog}"/> <br/></td>
                                        </tr>


                                    </table>
                                    <h:commandButton id="btnOK" value="Go" action="#{searchBackingBean.searchForBlog}"/>
                                </h:form>
                            </div>
                        </td>
                    </table>
                </div>   


                <div class="categories_section">
                    <h2>
                        Users
                    </h2>
                    <c:forEach items="#{searchBackingBean.allUsers}" var="user">
                        <h:form>
                            <h:commandLink  actionListener="#{profile.setUser(user.id)}" action="profile.xhtml?faces-redirect=true" >
                                <div class="category_item">
                                            <c:if test="${user.hasCustomImage}">
                                                <h:graphicImage value="image?id=#{user.profileImageId}" class="user_image" />
                                            </c:if>
                                            <c:if test="${!user.hasCustomImage}">
                                                <c:if test="${user.gender == 'Male'}">
                                                    <h:graphicImage url="../images/profile/abstract_boy.jpg" class="user_image" />
                                                </c:if>
                                                <c:if test="${user.gender == 'Female'}">
                                                    <h:graphicImage url="../images/profile/abstract_girl.jpg" class="user_image" />
                                                </c:if>
                                            </c:if>
                                    <div class="category_header">
                                        #{user.fname}
                                        #{user.lname}
                                        (
                                        #{user.username}
                                        )
                                    </div>
                                    <div class="category_desc">
                                        Age:
                                        #{user.age}
                                        <br/>
                                        Gender:
                                        #{user.gender}
                                    </div>
                                </div>
                            </h:commandLink>
                        </h:form>
                    </c:forEach>
                </div>


                <div class="categories_section">
                    <h2>
                        Categories
                    </h2>
                    <c:forEach items="#{searchBackingBean.allCategorys}" var="category">
                        <h:form>
                            <h:commandLink action="findevent.xhtml?faces-redirect=true" actionListener="#{findEvents.setCategory(category)}">
                                <div class="category_item">
                                    <div class="category_header">
                                        #{category.name}
                                    </div>
                                    <div class="category_desc">
                                        #{category.description}
                                        <br/>
                                        #{category.numberOfEvents} events.
                                    </div>
                                </div>
                            </h:commandLink>
                        </h:form>
                    </c:forEach>
                </div>

                <div class="categories_section">
                    <h2>
                        Events
                    </h2>
                    <c:forEach items="#{searchBackingBean.allEvents}" var="event">
                        <h:form>
                            <h:commandLink  actionListener="#{showEvent.setEvent(event.id)}"  action="event.xhtml?faces-redirect=true" >
                                <div class="category_item">
                                    <div class="category_header">
                                        #{event.title}
                                    </div>
                                    <div class="category_desc">
                                        #{event.description}
                                    </div>
                                </div>
                            </h:commandLink>
                        </h:form>
                    </c:forEach>
                </div>

                <div class="categories_section">
                    <h2>
                        Blogs
                    </h2>
                    <c:forEach items="#{searchBackingBean.allBlogs}" var="blog">
                        <h:form>
                            <h:commandLink  actionListener="#{showEvent.setEvent((blog.event).id)}"  action="event.xhtml?faces-redirect=true" >
                                <div class="category_item">
                                    <div class="category_header">
                                        #{blog.title}
                                    </div>
                                    <div class="category_desc">
                                        Event:
                                        #{blog.event.title}
                                        <br/>
                                        Author:
                                        #{blog.author.username}
                                        <br/>
                                        #{blog.timeCreated}
                                    </div>
                                </div>
                            </h:commandLink>
                        </h:form>
                    </c:forEach>
                </div>

            </ui:define>

        </ui:composition>

    </body>
</html> 