<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <body>

        <ui:composition template="./template.xhtml">
            <ui:define name="content">
                <h1>
                    #{settings.fname} #{settings.lname}'s settings
                </h1>
                <h:form >
                    <table>
                        <tr>
                            <td><h:outputLabel for="changeUsername" value="Username" /></td>
                            <td><h:inputText id="changeUsername" value="#{settings.username}" disabled="true"/> <br/></td>
                        </tr>
                        <tr>
                            <td><h:outputLabel for="changeFname" value="Firstname" /></td>
                            <td><h:inputText id="changeFname" value="#{settings.fname}" /> <br/></td>
                        </tr>
                        <tr>
                            <td><h:outputLabel for="changeLname" value="Lastname" /></td>
                            <td><h:inputText id="changeLname" value="#{settings.lname}" /> <br/> <br/></td>
                        </tr>
                        <tr>
                            <td><h:outputLabel for="changeAddress" value="Street Address" /></td>
                            <td><h:inputText id="changeAddress" value="#{settings.loc.streetAddress}" /> <br/></td>
                        </tr>
                        <tr>
                            <td><h:outputLabel for="changeCity" value="City" /></td>
                            <td><h:inputText id="changeCity" value="#{settings.loc.city}" /> <br/></td>
                        </tr>
                        <tr>
                            <td><h:outputLabel for="changeCountry" value="Country" /></td>
                            <td><h:inputText id="changeCountry" value="#{settings.loc.country}" /> <br/><br/></td>
                        </tr>
                        <tr>
                            <td><h:outputLabel for="changePassword" value="Password" /></td>
                            <td><h:inputSecret id="changePassword" value="#{settings.password}" /> <br/></td>
                        </tr>
                    </table>
                        <h:commandButton id="btnSave" value="Save changes" actionListener="#{settings.save}"
                                         action="settings?faces-redirect=true"/>
                </h:form>

                <h:form>
                    <br/>
                    <h:outputLabel for="fileEntryComp" value="Upload a profile picture:" />
                    <ace:fileEntry id="fileEntryComp"
                                   label="File Entry"
                                   relativePath="uploaded"
                                   fileEntryListener="#{settings.listener}"/>
                    <h:commandButton id="submit" type="submit" value="Upload File"/> <br/>


                    <h:graphicImage value="image?id=#{settings.profileImageId}"/>

                </h:form>

            </ui:define>

        </ui:composition>

    </body>
</html>
