<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <!-- template="/resources/templates/content-template.xhtml"> -->



    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet library="css" name="template.css"  />
        <h:outputStylesheet library="css" name="jquery-ui-1.9.0.custom.css"  />
        <title>Tomaxus</title>
        <script src="../resources/js/lib/jquery-1.8.2.js"></script>
        <script src="../resources/js/lib/jquery-ui-1.9.0.custom.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {
        
                // Hide the content of the element with class help_body
                $(".help_body").hide();
  
                // Toggle help content
                $(".help_head").click(function()
                {
                    $(this).next(".help_body").slideToggle(100);
                });
    
                // DatePicker: If the id ends with "datepicker" make it a jQuery datepicker
                $(function() {
                    $('input[id$="datepicker"]').datepicker({
                        dateFormat: 'yy-mm-dd'
                    } ).val();
                });


            });
           
        </script>  
    </h:head>

    <h:body>

        <div id="header">

        </div>
        <div id="menu1">
            <a href="home.xhtml" id ="Home" class="topheader_imagebutton">Home</a>
            <a href="help.xhtml" id ="Help" class="topheader_imagebutton">Help</a>
            <a href="about_us.xhtml" id ="About us" class="topheader_imagebutton">About us</a>
            <a href="about_Tomaxus.xhtml" id ="About Tomaxus" class="topheader_imagebutton">About Tomaxus</a>
            <a href="search.xhtml" id ="search" class="topheader_imagebutton">Search</a>


            <div id="searchbox">

                <h:form class ="formSearchBox" style="formSearchBox">
                    <ice:selectInputText id="textSearchBox"  
                                         value="#{userSearchUtilityBean.selectedText}"
                                         textChangeListener="#{userSearchUtilityBean.textChanged}"
                                         actionListener="#{userSearchUtilityBean.submitText}"
                                         rows="10" width="280">
                        <f:selectItems value="#{userSearchUtilityBean.availableUserItem}"/>
                    </ice:selectInputText>
                </h:form>

            </div>
            <a href="../index.xhtml"><div id="searchbox_button"></div></a>
        </div>
        <div id="emptySpace"></div>
        <div id="menu2">

            <div>
                <h:form>
                    <h:commandLink  actionListener="#{profile.setUser(user.id)}"  action="profile.xhtml?faces-redirect=true" >
                        <c:if test="${user.hasCustomImage}">
                            <h:graphicImage value="image?id=#{user.profileImageId}" class="header_profileImage" />
                        </c:if>
                        <c:if test="${!user.hasCustomImage}">
                            <c:if test="${user.gender == 'Male'}">
                                <h:graphicImage url="../images/profile/abstract_boy.jpg" class="header_profileImage" />
                            </c:if>
                            <c:if test="${user.gender == 'Female'}">
                                <h:graphicImage url="../images/profile/abstract_girl.jpg" class="header_profileImage" />
                            </c:if>
                        </c:if>
                        <div class="botttomImagePersonLink" href="profile.xhtml">#{user.name}</div>
                    </h:commandLink>
                </h:form>

                <a class="bottomImageButton" href="friends.xhtml">Friends</a>
                <a class="bottomImageButton" href="browsecategories.xhtml">Events</a>
                <h:form>
                    <h:commandLink action="inbox.xhtml?faces-redirect=true" class="bottomImageButton" >
                        Inbox
                    </h:commandLink>
                </h:form>
                <h:form>
                    <h:commandLink action="../index.xhtml?faces-redirect=true"  actionListener="#{user.logout}" class="bottomImageButton">Logout</h:commandLink>
                </h:form>
                <a class="bottomImageButton" href="settings.xhtml">Settings</a>

            </div>

        </div>

        <div id="contentbox" class="content">                
            <div id="thecontent">
                <ui:insert name="content"></ui:insert>
            </div>
            <div id="footer">
                Copyright © Tomaxus 2012 - All rights reserved - by Peter, Daniel, Erik and Johanna
            </div>
            <div id="orange_line">

            </div>
        </div>

    </h:body>

</html>
