<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
    </h:head>

    <body>
        <ui:composition template="./template.xhtml" >
            <ui:define name="content">
                <h:outputStylesheet library="css" name="BrowseCategories.css"  />
                <div class="header_section">
                    <h1>
                        View Message
                    </h1>
                    <div class="create_event"> 
                        <a href="create_message.xhtml" class="create_links">
                            Write a new message
                        </a>        
                    </div>
                </div>
                <div class="categories_section">

                </div>
                <div class="categories_section">
                    <h2>
                        #{viewmessage.selectedMessage.title}
                    </h2>
                    <br/>
                    From:                    
                    <h:form>
                        <h:commandLink action="profile.xhtml?faces-redirect=true" actionListener="#{profile.setUser(viewmessage.selectedMessage.messageFrom.id)}" class="create_links" > 
                            #{viewmessage.selectedMessage.messageFrom} 
                        </h:commandLink>
                    </h:form>
                    To:                     
                    <h:form>
                        <h:commandLink action="profile.xhtml?faces-redirect=true" actionListener="#{profile.setUser(viewmessage.selectedMessage.messageTo.id)}" class="create_links" > 
                            #{viewmessage.selectedMessage.messageTo} 
                        </h:commandLink>
                    </h:form> 
                    <br />
                    <div class="category_desc">
                        #{viewmessage.selectedMessage.messageContent}
                    </div>

                </div>
                <div>
                    <h:form>
                        <h:commandLink action="inbox.xhtml" actionListener="#{viewmessage.deleteMessage()}" >Delete </h:commandLink>
                    </h:form>
                    <h:form>
                        <h:commandLink action="create_message.xhtml" actionListener="#{createmessage.setMessageTo(viewmessage.selectedMessage.messageFrom)}" >Reply </h:commandLink>
                    </h:form>
                </div>
            </ui:define>
        </ui:composition>

    </body>
</html>
