/* 
    Document   : BrowseCategories
    Created on : 2012-okt-19, 13:24:35
    Author     : Erik
    Description:
        CSS file for BrowseCategories.xhtml
*/

root { 
    display: block;
}

@font-face {
    font-family: robotolight;
    src: url('../resources/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: robotofat;
    src: url('../resources/fonts/Roboto-Black.ttf');
}
.header_section {
    background: url('../images/gradient.png') repeat-y,
        url('../images/browsecategories_headerimage.png') 300px 100px repeat;
    width: 100%;
}
.create_links {
    font-size: 20pt;
}
.categories_section {
    width: 100%;
    float: bottom;
    margin-bottom: 20px;
}
.category_item {
    border: 3px white solid;
    height: 85px;
    padding-bottom: 4px;
}

.category_item:hover {
    border: 3px #FF9000 solid;    
}
.category_item:visited {
    
}
.category_item:active {
    background-color: #FFC555;
}

.category_header {
    color: #FF9000;
    font-size: 22pt;
}

.category_desc {
    color: black;
}

.category_desc:visited {
    
}