/* 
    Document   : Event
    Created on : 2012-okt-14, 14:56:33
    Author     : Peter
    Description:
        CSS for viewing a single Event.
*/

root { 
    display: block;
}
#eventdescript {
    font-family: robotolight;
    width: 100%;
}

.userTable {
    font-family: robotolight;
    color:#333333;
    border-width: 5px;
    border-color: black;
    border-collapse: collapse;
    float: right;
    width: 25%
}

.userTable a:link {
    text-decoration: none;
    color: black;
}

.userTable thead {
    color: white;
    background: #fff url('../images/header_buttom_bg.png');
}

.userTable td:hover {   
    background-color: #ffdab4;
}

.blogTable {
    font-family: robotolight;
    width: 60%;
    text-align: left;
    border-collapse: collapse;
    margin: 10px;
}

.blogTable thead {
    font-weight: normal;
    color: white;
    background: white url('../images/header_buttom_bg.png');
    border-bottom: 1px solid white;
    padding: 8px;
}

.blogTable td {
    background: white;
    border-bottom: 1px solid black;
    color: #669;
    border-top: 1px solid transparent;
    padding: 8px;
}

#settingsButton {
    float: right;
}

.descArea {
    width: 400px;
    height: 120px;
}

.titleText {
    width: 400px;
}



#eventTitle {
    font-family: robotolight;
    font-style: normal;
    color: #FF9000;
    font-size: 45pt;    
    height: 100px;
    width: 100%;
    float: left;
    margin-bottom: 0px;
}

#eventImage {
    width: 100%;
    float: right;
}