/* 
    Document   : Help
    Created on : 2012-okt-22, 23:17:37
    Author     : Johanna
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

p {
    padding: 0 0 1em;
}
.help_list {
    margin: 0px;
    padding: 0px;
    width: 383px;
}

.help_head {
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    background-color:lightblue;
    margin:1px;
}

.help_body {
    padding: 5px 10px 15px;
    background-color:#F4F4F8;
}

