/* 
    Document   : Home
    Created on : Oct 15, 2012, 2:21:52 PM
    Author     : sjoksda
    Description:
        Purpose of the stylesheet follows.
*/


@font-face {
    font-family: robotolight;
    src: url('../resources/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: robotofat;
    src: url('../resources/fonts/Roboto-Black.ttf');
}

root { 
    display: block;
}



.header1nr1 {
    
    font-size: 40px;
    text-align: left;
    color: black;
    padding-bottom: 10px;
    font-family: robotolight;
}

.header1nr2 {
    
    font-size: 40px;
    text-align: left;
    color: black;
    padding-bottom: 10px;
    font-family: robotolight;
        text-decoration: underline;
    
}

.header2nr1 {
    
    font-size: 25px;
    text-align: left;
    color: #FF9000;
    padding-bottom: 10px;
    font-family: robotolight;

    
}

.header2nr2 {
    
    font-size: 25px;
    text-align: left;
    color: #FF9000;
    padding-bottom: 10px;
    font-family: robotolight;
}

.header2nr3 {
    
    font-size: 25px;
    text-align: left;
    color: #FF9000;
    padding-bottom: 10px;
    font-family: robotolight;
    padding-left:50px;

}

.contents3 {
    padding-left:50px;


}

.contents2 {
}

contents1 {
    
}

.recent {
    text-align: left;
}

.myEvents {
    text-align: left;
}

#table {
    
    border-bottom-style: double;
}

.takeALook {
    
padding-left: 30px;
}

.takeALook1 {
    
    background-color: #FF9000;
    font-family: Arial,Helvetica,sans-serif;
    
    font-weight: bold;
}