/* 
    Document   : Messaging
    Created on : 2012-okt-22, 08:54:50
    Author     : Erik
    Description:
        CSS for messaging module
*/

root { 
    display: block;
}

.inputText {
    width: 200px;
    border: 1px #FF9000 solid;
}

.inputTextArea {
    width: 300px;
    height: 360px;
    border: 1px #FF9000 solid;
}

.inputDeclarations {
    float: top;
}



