/* 
    Document   : Profile
    Created on : 2012-okt-14, 14:28:32
    Author     : Erik
    Description:
        CSS for profile-page.
*/


@font-face {
    font-family: robotolight;
    src: url('../resources/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: robotofat;
    src: url('../resources/fonts/Roboto-Black.ttf');
}

root { 
    display: block;
}

.topActionMenu {
    height: 100px;
    width: 1040px;
    float: left;
    margin-bottom: 0px;
}

.topNameHeader {
    font-family: robotolight;
    font-size: 57px;
    padding: 0px;
    margin: 0px;
    color: #ff9933;
    float: left;
}

.actionlinks {
    float: left;
    text-align: center;
    font-family: robotolight;
    width: 500px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 35px;
    padding-left: 30px;
    color: #FF9000;   
}

.actionlinks:hover {
    color: #FF7000
}

.actionlinks:visited {
}

.middleSection {
    height: 350px;
    float: left;
    width: 1044px;
}

.middle_desc {
    font-family: robotofat;
    font-size: 12pt;
    float: left;
    width: 140px;
    height: 350px;
    padding-left: 4px;
    padding-top: 0px;
    margin-top: 0px;
}

.middle_userdetail {
    float: left;
    font-family: robotofat;
    font-size: 12pt;
    width: 200px;
    height: 350px;
    text-align: right;
}

.friendslist {
    height: 350px;
    width: 343px;
    float: left;
    text-align: center;
    padding: 3px;
}

.friends_header {
    font-family: robotolight;
    font-size: 23pt;
    padding-top: 8px;
}


.friend_item {
    width: 350px;
    height: 50px;
    float: bottom;
    color: black;
   border: 1px #FFFFFF solid;
}

.friend_item:hover {

    border-color: #FF9000;

}

.friend_item:active {
    background-color: #FF9000;

}

.friend_item:visited {
}



.friends_image {
    width: 50px;
    height: 50px;
    float: left;
}

.friend_info {
    float: left;
    height: 20px;
    width: 280px;
    text-align: left;
}

.friend_location {
    float: bottom;
    height: 20px;
    text-align: left;
    font-size: 12pt;
    text-decoration: none;
    font-style: italic;
}
.friend_location:active {

}
.friend_location:link {

}
.friend_location:visited {
    
}
h2 {
    font-family: robotolight;
    font-style: normal;
    color: #FF9000;
    font-size: 22pt;    
    padding-top: 20px;
    padding: 10px;
}


.profile_image {
    width: 350px;
    height: 350px;
    float: left;
}

.middleSectionHeader {
    float: left;
}


.eventSection {
    float: left;
    width: 1044px;
}

.userEvent {
    height: 200px;
    width: 1044px;
    border-color: black;
    border: 3px #FFFFFF solid;
}

.userEvent:hover {
    border: 3px #FF9000 solid;

}

.userEvent:active {         
}

.eventDetails {
    width: 570px;
    height: 120px;
    float: left;
    position: relative;
    color: #FF9000;
    
}

.eventDesc {
    height: 70px;
    float: left;
    width: 500px;
    color: black;
}

.eventInfo {
    color: black;
    height: 30px;
    float: bottom;
    width: 800px; 
}

.eventStatistics {
    color: black;
    height: 30px;
    float: bottom;
    width: 800px; 
}

.eventHeader {
    color: #FF9000;
    height: 40px;
    font-size: 25pt;
    width: 800px;
}

.eventImage {
    height: 200px;
    width: 540px;
    float: left;
}