/*
    Document   : Search
    Created on : Oct 21, 2012, 2:14:36 PM
    Author     : sjoksda
    Description:
        Purpose of the stylesheet follows.
*/

root {
    display: block;
}

.keyword{
    
}

.left_cont{
    

}


.user{
    padding-top: 30px;
}

.event{

}

.rightSearch{
    padding-left:50px;
}

.blog{
    padding-top: 30px;
}

#keyword{
    padding-left: 10px;
}

#username{
    padding-left: 50px;
}

#firstname{
    padding-left: 50px;
}

#lastname{
    padding-left: 50px;
}

#eventtitle{
    padding-left: 38px;
}

#blogtitle{
    padding-left: 50px;
}

.create_links {
    font-size: 20pt;
}
.categories_section {
    width: 100%;
    float: bottom;
    margin-bottom: 20px;
}
.category_item {
    border: 3px white solid;
    height: 85px;
    padding-bottom: 4px;
}

.category_item:hover {
    border: 3px #FF9000 solid;    
}
.category_item:visited {
    
}
.category_item:active {
    background-color: #FFC555;
}

.category_header {
    color: #FF9000;
    font-size: 22pt;
}

.category_desc {
    color: black;
}

.category_desc:visited {
    
}

.user_image {
    width: 70px;
    height: 70px;
    float: left;
} 