/* 
    Document   : style
    Created on : 2012-okt-04, 09:53:06
    Author     : Daniel
    Description:
        Template CSS file, for all pages to use.
*/



@font-face {
    font-family: robotolight;
    src: url('../resources/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: robotofat;
    src: url('../resources/fonts/Roboto-Black.ttf');
}

#emptySpace {
    visibility: hidden;
    width: 1142px;
    height: 50px;
}

body {
/*    background-image:url('../images/yellow2.jpg');*/
    background-image:url('../images/theeveningsrest.jpg');
    /*background-image:url('../images/afallsunrise.jpg'); */
    background-attachment: fixed;
    background-size: 100% Auto;
    background-repeat:no-repeat;
}
A:link {
    text-decoration: none
}
A:visited {
    text-decoration: none
}
A:active {
    text-decoration: none
}

#header {
    width:1142px;
    margin:auto;
    background: #fff url('../images/logo_transparent.png') no-repeat top right;
    height: 172px;
    background-color: transparent;
}

#searchbox_button {
    float:right;
    height: 63px;
    width: 39px;
    background: #fff url('../images/header_top_searchbutton.png') repeat-x ;
}

#searchbox {
    float:right;
    height: 63px;
    width: 299px;
    background: #fff url('../images/header_top_searchbox.png');
}

.topheader_imagebutton {
    color: white;
    width: 140px;    
    height: 41px;
    padding-top: 20px;
    background: #fff url('../images/header_top_button_bg.png') bottom;
    font-size: 13pt;
    font-family: robotolight ;
    color: white ;
    text-align: center ;
    text-align-last: center;
    text-decoration: none;
    background-position: 0 0;
    float: left;
}
.topheader_imagebutton:hover {
    background-position: 0 61px;
    color: black;
}
#footer {
    height: 15px ;
    padding-top: 100px;
    padding-bottom: 10px ;
    text-align: center;
    text-align-last: center;
    font-family: robotolight;
    width: 1133px ;
    float: bottom;
}
#orange_line {
    height: 3px;
    background-color: #ff9000;
    width: 1133px;
}
#menu1 {
    width:1142px;
    margin:auto;
    background: #fff url('../images/header_top_bg.png') repeat;
    height: 63px;
    background-color: transparent;
    -moz-box-shadow: 4px 4px 10px #000;
    -webkit-box-shadow: 4px 4px 10px #000;
    box-shadow: 4px 4px 10px #000;
}

#menu1search {
    padding-right: 100px;
    padding-left: 834px;
    padding-top: 49px;
    display: block;
}

.errorText {
    color: red;
    font-style: italic;
}

#menu2 {
    width:1133px;
    margin:auto;
    background: #fff url('../images/header_buttom_bg.png') top right;
    background-repeat: repeat-x;
    height: 47px;
    background-color: transparent;
    -moz-box-shadow: 5px 5px 10px #000;
    -webkit-box-shadow: 5px 5px 10px #000;
    box-shadow: 5px 5px 10px #000;
}

.index_button {
    border: 1px #FF9000 groove;
    width: 110px;
    height: 22px;
    font-family: robotolight;
    background-color: white;
}
.index_button:hover {
    background-color: wheat;
}
.index_button:active {
    background-color: #FFC555;
}

.bottomImageButton {
    display: block;
    width: 157px;
    height: 37px;
    background: url('../images/header_buttom_genericbutton.png') bottom;
    font-size: 15pt;
    font-family: robotolight ;
    padding-top: 10px;
    color: white ;
    text-align: center ;
    text-align-last: center;
    display: block; 
    position: relative;
    text-decoration: none;
    background-position: 0 0;
    float: left;

}
.bottomImageButton:hover {
    background-position: 0 47px;
}

.profileImage {
    width: 47px;
    height: 47px;
    float: left;
}

.header_profileImage{
    width: 47px;
    height: 47px;
    float: left;
}

.formSearchBox {
    height: 22px;
    padding-top: 20px;
}

#textSearchBox {
    height: 22px;
    font-size: 12pt;
    background: transparent;    
    border: transparent;
    padding-top: 20px;
    font-family: robotolight;
}

.iceSelInpTxtTxt {
    height: 22px;
    font-size: 12pt;
    background: transparent;    
    border: transparent;
    font-family: robotolight;
    
    
}

.iceSelInpTxtList {
        position: absolute;
        display: block;
        z-index: 900;
        padding-left: 5px;
        padding-top: 10px;


}

.iceSelInpTxtRow {
    display: block;
    background-color: #FFFFFF;
    color: #333333;
    padding-top:0px;
    padding-bottom:0px;
    padding-right: 2px;
    padding-left: 2px;
    border-bottom: 1px solid #DEDEDE;
    position: relative;
    width:283px;
}

.iceSelInpTxtSelRow {
        display: block;
        background-color: #4591A1;
        color: #FFFFFF; 
        padding-top:0px;
        padding-bottom:0px;
        padding-right: 2px;
        padding-left: 10px;
        border-bottom: 1px solid #FFFFFF;
        position: relative;
        width:275px;
        
        
}

.TextEntry
{
    background-color: #FF9000;
    color: white;
}


.botttomImagePersonLink {
    display: block;
    width: 256px;
    height: 37px;
    background: url('../images/header_bottom_profileimage.png') bottom;
    font-size: 15pt;
    font-family: robotolight ;
    padding-top: 10px;
    color: white ;
    padding-left: 10px;
    text-decoration: none;
    background-position: 0 0;
    float: left;
}
.botttomImagePersonLink:hover {
    background-position: 0 47px;
}

.bottomImageButtonLogout {
    display: block;
    width: 157px;
    height: 37px;
    background: url('../images/header_bottom_profileimage.png') bottom;
    font-size: 15pt;
    font-family: robotolight ;
    padding-top: 10px;
    color: white ;
    text-align: center ;
    text-align-last: center;
    display: block; 
    position: relative;
    text-decoration: none;
    background-position: 0 0;
    float: right;

}
.bottomImageButtonLogout:hover {
    background-position: 0 47px;
}

.content{
    background-color:rgb(237,237,237);
    width:1133px;
    min-height: 300px;
    margin:auto;
    margin-bottom:50px;
    -moz-box-shadow: 5px 5px 10px #000;
    -webkit-box-shadow: 5px 5px 10px #000;
    box-shadow: 5px 5px 10px #000;
}

#contenthead{
    font-family: robotolight;
    font-size: 57px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    color: #ff9933;
}

h1 {
    font-family: robotolight;
    font-size: 57px;
    padding: 0px;
    margin: 0px;
    color: #ff9933;
}

#thecontent{
    font-family: Calibri;
    font-size: 14pt;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
}



root { 
    display: block;
}

/*
    Event css
*/

