<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core">


    <body>

        <ui:composition template="template.xhtml">

            <ui:define name="content"> 
                <!--               <h:outputStylesheet library="css" name="Event.css"/> -->

                <div>
                    <table width="50%">
                        <tr> <td>
                                <p>What you envision, you can achieve. </p>

                                <p>Tomaxus is a great support along the way of making your dreams a reality. It is also a meeting place for people who share the same interests in life. </p>

                                <p>It is really quite simple. </p>

                                <p>First, you need to get your imagination going, so that you can put your different goals on a list. To help you there are lots of examples that you can use and edit as you wish.</p>

                                <p>What should be on the Tomaxus list? All that makes <strong>your </strong>life worth living. The stuff you think about, but never seem to have time to do. The things you long for and the things that makes you happy. Those things.</p>

                                <p>When you have your list, it's time to plan it all out. We will provide you with connections and widgets to make life much easier for you as you go about planning your adventures, future skills and goals. Other people with the same interests as you are here to share experiences and reach out a helping hand. Together you all make a difference.</p>

                                <p>This is a place to meet new friends and help you do what ever it is you want to do in life.</p>

                                <p>Does it sound good? It is good. </p>

                                <p>You are the designer of your life. Your life is unique, because you are unique. No one has the same memories, personality and qualities as you. But you can probably, as well as the rest of us, need a little push in the right direction from time to time?</p>

                                <p>This is where we come in. We help you realize who you really are and what you really want to do. You can write down just about anything on your list (although world dominance and stuff like that might get moderated). If you can't come up with all your goals by your self, there are lots of examples to choose from to contribute to your unique list.</p>

                                <p>When you have chosen an event. Think about what you would need in order to make it happen. That is your planning! </p>

                                <p>Now it is time to meet people. Add friends to your flow and follow their successes and mistakes. Why do we write mistakes? Because we need mistakes to grow and to learn from.</p>

                                <p>Tomaxus values personal freedom, choices and the life style you want to have. We should all be free to live the way we want to live. Regardless of what freedom means to you, Tomaxus will help you along the way. Here you will find lots of friends to share your experiences with. They can help you along the way, or just cheer you on. It all depends on what goals/events you orchestrate on your page. </p> 

                                <p>So, the question is: What would you do, if you could do what ever you like? </p>
                            </td>
                        </tr>
                    </table>

                </div>      


            </ui:define>

        </ui:composition>

    </body>
</html>
