<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core">


    <body>

        <ui:composition template="template.xhtml">

            <ui:define name="content"> 
                <h:outputStylesheet library="css" name="Help.css"/>

                <div>
                    <table width="70%">
                        <tr> <td>
                                <h1>What can we help you with?</h1>


                                <h2>Choose the alternative best suited below</h2>


                                <p class = "help_head">
                                    I need help creating an account.
                                </p>
                                <div class = "help_body">
                                    Go to home, browse down and fill in your data. <br/> 
                                    When you are finished, press enter. <br/>
                                    Now go up, write your username and password and press login.
                                </div>


                                <p class = "help_head">
                                    I need information about matters regarding my account, my settings or security.
                                </p>
                                <div class = "help_body">
                                    All of these options are avaliable to you, if you are logged in. <br/>
                                    Then just press "Settings" and follow the instructions.
                                </div>

                                <p class = "help_head">
                                    I want help finding my way around the site.
                                </p>
                                <div class = "help_body">

                                    <p>
                                        <a href = "restricted/home.xhtml">Home</a>, sends you to the starting page, which will look different depending on whether you are logged in or not.
                                    </p>

                                    <p>
                                        <a href = "restricted/about_us.xhtml">About us</a> is where we present our selves and how the idea arose.
                                    </p>
                                    
                                    <p>
                                        <a href = "restricted/about_Tomaxus.xhtml">About Tomaxus</a> is an interesting read for everyone interested in our Philosophy.
                                    </p>
                                    
                                    <p>
                                        <a href = "restricted/search.xhtml">Search</a> You can use the quick search in the top right corner or click search to get a more advanced option.
                                    </p>
                                    
                                    <p>
                                        <a href = "restricted/profile.xhtml">Profile</a> shows you your page.
                                    </p> 
                                    
                                    <p>
                                        <a href = "restricted/friends.xhtml">Friends</a> displays all your friends and all the events you and your friends are involved in. As soon as someone post something new, you will see it here.
                                    </p>
                                    
                                    <p>
                                        <a href = "restricted/browsecategories.xhtml">Events</a>, this is the place to go when you want to find or create new events or simply get inspired by others.
                                    </p>
                                    
                                    <p>
                                        <a href = "restricted/inbox.xhtml">Inbox</a>, when you want to contact someone privately, use this page.
                                    </p>
                                    
                                    <p>
                                        <a href = "restricted/settings.xhtml">Settings</a>, here is the page where you do all your changes.
                                    </p>
                                    
                                </div>

                                <h2>Or choose one of these FAQs.</h2>

                              

                                <p class = "help_head">
                                    How do I add/remove friends?
                                </p>
                                <div class = "help_body">
                                    All the users have an "add as friend" next to their profile picture. <br/> 
                                    Click that button and instantely you are friends.
                                </div>

                                <p class = "help_head">
                                    How do I create/change an event?
                                </p>
                                <div class = "help_body">
                                    To create an event go to Events and press <br/>
                                    Click create new event and choose category. <br/>
                                    Add pictures and text to better describe your goals <br/>
                                </div>

                                <p class = "help_head">
                                    How do I change my profile picture?
                                </p>
                                <div class = "help_body">
                                    Go  to settings. Click "upload picture" <br/>
                                    Choose your picture and click "Ok". Done.
                                </div>


                            </td>
                        </tr>
                    </table>

                </div>      


            </ui:define>

        </ui:composition>

    </body>
</html>
