<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <body>

        <ui:composition template="./template.xhtml">

            <ui:define name="top">

            </ui:define>

            <ui:define name="left">
                Page one left                
            </ui:define>

            <ui:define name="contenthead">
                Welcome
            </ui:define>

            <ui:define name="content">

                <h3> Change your life in three simple steps!</h3>
                <ol>
                    <li>Login </li>
                    <li>Get inspiration from us and put together your 
                        unique list of goals and dreams.</li>
                    <li> Find friends here with the same interests
                        and goals as you, to make them come true. </li>
                </ol>
                <p>
                    <h:form>
                        <table>
                            <tr>
                                <td>
                                </td>
                                <td>
                                    <h:outputLabel value="#{user.errorMessage}" class="errorText"></h:outputLabel>
                                </td>
                            </tr>
                            
                            <tr>
                                <td>
                                    Username
                                </td>
                                <td>
                                    <h:inputText id="name" value="#{user.name}" />
                                </td>
                            </tr>    
                           <tr>
                                <td>                                    
                                    Password
                                </td>
                                <td>
                                    <h:inputSecret id="password" value="#{user.password}" />
                                </td>
                           </tr>
                           <br />
                            <tr>
                                <td>
                                    <h:commandButton value="Login" action="#{user.login }" accesskey="Enter" class="index_button"/>
                                </td>
                                <td>
                                    
                                </td>
                            </tr>
 
                        <p>
                            
                        </p> 
                        </table>
                        <p>
                            <br />  
                        </p>
                    </h:form>
                    <p>Not registered?
                        <br></br>
                        Register today, for free!</p>
                  
                    <h:form >
                        <h:outputLabel for="username" value="Username"  />
                        <h:inputText id="username" value="#{user.name}" /> <br/>

                        <h:outputLabel for="lname" value="Password" />
                        <h:inputSecret id="lname" value="#{user.password}" /> <br/>

                        <h:outputLabel for="firstname" value="Firstname" />
                        <h:inputText id="firstname" value="#{user.firstname}" /> <br/>

                        <h:outputLabel for="lastname" value="Lastname" />
                        <h:inputText id="lastname" value="#{user.lastname}" /> <br/>

                        <h:outputLabel for="gender" value="Gender" />
                        <h:selectOneMenu value="#{user.gender}">
                            <f:selectItem itemValue="Female" itemLabel="Female" />
                            <f:selectItem itemValue="Male" itemLabel="Male" />
                        </h:selectOneMenu>
                         <br/>
                        <h:outputLabel for="age" value="Age" />
                        <h:inputText id="age" value="#{user.age}" /> <br/>

                        <h:commandButton id="btnOK" value="Register" action="#{user.register}" class="index_button"/>
                    </h:form> 


                </p>


            </ui:define>



            <ui:define name="bottom">

            </ui:define>

        </ui:composition>

    </body>
</html>
