<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:f="http://java.sun.com/jsf/core">
    <!--template="/resources/templates/content-template.xhtml">-->



    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet library="css" name="template.css"  />
        <title>Tomaxus</title>
        <script src="resources/js/lib/jquery-1.8.2.js"></script>
        <script src="resources/js/lib/jquery-ui-1.9.0.custom.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
        
                // Hide the content of the element with class help_body
                $(".help_body").hide();
  
                // Toggle help content
                $(".help_head").click(function()
                {
                    $(this).next(".help_body").slideToggle(100);
                });
 
            });
           
        </script>  
    </h:head>

    <h:body>

        <div id="header">

        </div>
        <div id="menu1">
            <a href="index.xhtml" id ="Home" class="topheader_imagebutton">Home</a>
            <a href="help.xhtml" id ="Help" class="topheader_imagebutton">Help</a>
            <a href="about_us.xhtml" id ="About us" class="topheader_imagebutton">About us</a>
            <a href="about_Tomaxus.xhtml" id ="About Tomaxus" class="topheader_imagebutton">About Tomaxus</a>

        </div>
        <div id="emptySpace"></div>        
        <div id="contentbox" class="content">
            <div id="orange_line"></div>
            <div id="contenthead">
                <ui:insert name="contenthead"></ui:insert>
            </div>

            <div id="thecontent">
                <ui:insert name="content"></ui:insert>
            </div>
            <div id="footer">
                Copyright © Tomaxus 2012 - All rights reserved - by Peter, Daniel, Erik and Johanna
            </div>
            <div id="orange_line">

            </div>
        </div>

    </h:body>

</html>
